html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.form-page h2 {
    margin-bottom: 30px;
}

.form-page button[type="submit"] {
    margin-top: 30px;
}

.form-page {
    width: 400px;
    margin: 0 auto;
}

.news-list-page ul {
    width: 360px;
    float: left;
}
.news-list-page .news-list-container {
    width: 750px;
    float: left;
    margin-left: 20px;
}